<div id="top-container">
    <div id="top-container-left">
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Number</mat-label>
                <input type="text" placeholder="Pick one" aria-label="Number" matInput [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
        
        <mat-form-field class="example-full-width">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
    </div>
    <div id="top-container-right">
        <button mat-raised-button color="accent" id="reset" (click)="resetChange()"> Reset</button>
        <button mat-raised-button color="primary" id="select" (click)="selectChange()">Select</button>
    </div>

</div>