<div id="table">
    <div class="show-item" id="tittle">
        <span onclick="selectall" class="selection">
            <mat-checkbox color="primary">全选</mat-checkbox>
        </span>
        <span class="code"> Code</span>
        <span class="category-name"> CategoryName</span>
        <span class="sort"> Sort </span>
        <span class="disable"> Disable </span>
        <span class="actions">Actions</span>
        <em></em>
    </div>
    <ng-container *ngFor="let item of items;let i = index">
        <div *ngIf="i<startIndex+pageSize&&i>=startIndex" class="show-item">

            <span class="selection">
                <mat-checkbox color="primary" (click)=itemSelect(item)></mat-checkbox>
            </span>
            <span class="code">{{item.code}} </span>
            <span class="category-name">{{item.name}} </span>
            <span class="sort">{{item.sort}} <img src="" alt="null"> </span>
            <span class="disable">
                <mat-slide-toggle color="primary" (click)=itemDisable(item)>

                </mat-slide-toggle>
            </span>
            <span class="actions">
                <button mat-icon-button color="primary">
                    <mat-icon >edit</mat-icon>
                </button>
                <button mat-icon-button color="primary">
                    <mat-icon >link</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteConfirm(item)">
                    <mat-icon >delete</mat-icon>
                </button>
            </span>
            <em></em>
        </div>
    </ng-container>
    <mat-paginator [length]=length [pageSize]=pageSize [pageSizeOptions]="pageSizeOptions"
        (page)="paginatorEvent($event)">
    </mat-paginator>
</div>
