#table {
    background: #f5f5f5;
    position: relative;
    min-height: 500px;
    width: 100%;
}

#tittle {
    background: #f5f5f5;
    margin-left: 20px;
}
.show-items{
    overflow: scroll;
    height: 500px;
    padding-bottom: 56px;

}
.show-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #fff;
    border-radius: 10px;
    margin: 3px 10px;
}

.show-item>span {
    text-align: center;
}

.selection {
    margin-left: 20px;
    min-width: 32px;
    width: 32px;
}

.code {
    min-width: 120px;
}

.category-name {
    min-width: 120px;
}

.sort {
    min-width: 100px;
}

.disable {
    min-width: 50px;
}

.actions {
    min-width: 120px;
}

.paginator{
    position: absolute;
    bottom: 0;
    width: 100%;
    
}